.chatElem {
  width: 580px;
  height: 220px;
  margin-top: 20px;

  background: #ffffff;
  border-radius: 6px;
}

.recipient-header {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  margin-left: 40px;
  margin-right: 38px;
}

.recipient-online {
  position: absolute;
}

.recipient-in {
  display: flex;
}

.recipient-info {
  display: grid;
  margin-top: 3px;
  margin-left: 22px;
}

.recipient-body {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
}

.recipient-notReaded::before {
  content: "";
  width: 20px;
  height: 20px;

  background: #ff3366;
  box-shadow: 4px 4px 15px rgba(202, 22, 70, 0.05),
    2px 2px 10px rgba(198, 27, 74, 0.1), 1px 1px 50px rgba(198, 27, 74, 0.15);
}
