.chat-block {
  position: absolute;
  display: block;
  width: 850px;
  height: 830px;
  background: #ffffff;
  margin-top: 40px;
  margin-left: 651px;
}

.div-res-info {
  display: flex;
  width: 850px;
  height: 110px;
  background: #fafbff;
  border-bottom: solid;
  border-bottom-color: rgba(112, 124, 151, 0.1);
  /* border-bottom-color: rgba(112, 124, 151, 0.1); */
}

.res-photo {
  display: flex;
  width: 54px;
  height: 54px;
  margin-left: 60px;
  margin-top: 28px;
}

.res-info {
  margin-top: 31px;
  margin-left: 20px;
  height: 40px;
  width: 100px;
  display: grid;
  align-items: center;
}

.res-name {
  width: 100px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #0d1c2e;
}

.res-online {
  margin-top: 6px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: lowercase;
  color: #2a8bf2;
}

.div-chat-message {
  display: block;
  width: 850px;
  height: fit-content;
  margin-top: 29px;
  border-bottom: 6px solid rgba(112, 124, 151, 0.1);
  background: #ffffff;
}

.input-message {
  background: #ffffff;
  display: flex;
}

.chat-input {
  width: 548px;
  height: 23px;
  border: 0px;
  outline: none;
  margin-left: 113px;
  margin-top: 24px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;

  color: rgba(94, 96, 100, 0.5);
}

.chat-input::placeholder {
  color: rgba(112, 124, 151, 0.5);
}

.send {
  display: flex;
  margin-left: 50px;
  border: none;
  background: #ffffff;
}
