ul {
  list-style-type: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: #707c97;
  position: relative;
  padding-left: 40px;
}
aside {
  background: #ffffff;
  width: 290px;
  height: 100%;
  position: fixed;
  z-index: 1;
}
